$BackgroundDarkerColor:#191F24;
$BackgroundDarkColor:#293239;
$BackgroundColor:#333E46;
$BackgroundLightColor:#455560;
$BackgroundLighterColor:#536570;

$ForegroundDarkColor:#99A6B1;
$ForegroundColor:#DDE3E8;
$ForegroundLightColor:#FFFFFF;

$WindowBackgroundColor:#3C4952;

$CloseColor:#C75050;
$CloseHoverColor:#D23F3F;
$CloseActiveColor:#993D3D;

$MainDarkColor:#989577;
$MainColor:#A39F77;
$MainLightColor:#A9A684;

$AlertColor:#E64447;

$RedColor:#F23B6A;
$OrangeColor:#ED7E0B;
$YellowColor:#FED22A;
$GreenColor:#6CDE34;
$BlueColor:#4A90E2;
$PurpleColor:#D64EF2;